.navBackground{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: blueviolet;


}


.container {
    display: flex;
    max-width: 90vw;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 2rem;
}

.links li {
    list-style: none;
}

.links a{
    color: white;
}

.menu {
    color: white;
}